snippet ct
    COBIATEXT("${1:text}")${2}

snippet tocapestr
    TestSuiteUtils::to_capestr(${1:var})${2}

snippet tostr
    TestSuiteUtils::to_str(${1:var})${2}

snippet tun
    using namespace TestSuiteUtils;
    ${0}

snippet tu
    TestSuiteUtils::${0}
